/* Author: Armando Graterol */
/* BASE */
html, body {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  width: 50%;
  border-color: #EEEEEE;
}

h3 {
  font-size: 22px;
  color: #CC2A41;
}

main {
  background-color: white;
}

main h4 {
  color: #CC2A41;
}

a {
  color: #333;
  font-weight: bold;
}

a:hover, a:focus {
  color: #CC2A41;
  text-decoration: none;
  outline: none;
}

p {
  font-size: 18px;
}

figcaption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5%;
}

/* MODULES */
.footer__icon {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border: 2px solid #CC2A41;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars {
  color: #CC2A41;
  font-size: 18px;
}

@media (min-width: 768px) {
  .footer__icon {
    font-size: 35px;
    height: 60px;
    width: 60px;
  }
}

.navbar-toggler {
  color: #CC2A41;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  font-size: 23px;
  padding-top: 15%;
}

.navbar-brand {
  color: #CC2A41;
  font-weight: bold;
  font-size: 25px;
  padding: 1% 0 1% 2%;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #CC2A41;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 25px;
  }
}

.navbar-collapse {
  text-align: right;
  padding-right: 5%;
  background-color: white;
}

.link--active a {
  color: #CC2A41;
}

@media (min-width: 768px) {
  .nav-item a {
    font-size: 20px;
  }
}

.project__image {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 2%;
}

.project__more {
  font-size: 20px;
  padding: 8%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 992px) {
  .carousel {
    height: 40%;
    width: 50%;
    margin-left: 24%;
  }
}

.language-selector {
  color: #CC2A41;
}

.footer__contact-links {
  margin: 2% 2% 3% 2%;
}

@media (min-width: 768px) {
  .footer__contact-links {
    padding: 1%;
  }
}

/* LAYOUTS */
nav {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.navbar {
  padding: 0;
}

main {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 2%;
}

.portfolio__experience {
  padding-bottom: 10%;
}

.portfolio__projects {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: lightgrey;
}

.portfolio__projects .row {
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio__skills {
  padding-top: 5%;
}

.underline {
  border: 3px solid black;
  border-radius: 5px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 3%;
}

header {
  padding: 5% 8% 10% 8%;
  margin-top: 47px;
  color: white;
  background: url("../img/wallpaper-header.jpg");
}

header .hero-section {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5% 3% 5% 3%;
}

header .hero-section h2 {
  margin-bottom: 0;
}

footer {
  text-align: center;
}

footer .contact {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 992px) {
  footer .contact {
    padding-top: 0;
  }
}
