html, body {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr{
    width: 50%;
    border-color: $secondaryColor;
}

h3 {
    font-size: 22px;
    color: $primaryColor;
}

main {
    background-color: white;

    h4 {
        color: $primaryColor;
    }
}

a {
    color: #333;
    font-weight: bold;
    &:hover, &:focus {
      color: $primaryColor;
      text-decoration: none;
      outline: none;
    }
}

p{
    font-size: 18px;
}

figcaption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
}