header{
  padding: 5% 8% 10% 8%;
  margin-top: 47px;
  color: white;
  background: url('../img/wallpaper-header.jpg');
  .hero-section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5% 3% 5% 3%;

    h2 {
      margin-bottom: 0;
    }
  }
}