main {
  text-align: center;
  padding-top: 5%;
}

.portfolio__experience {
  padding-bottom: 10%;
}

.portfolio__projects {
  background-color: $secondaryBackgroundColor;
  padding-top: 5%;
}

.portfolio__skills {
  padding-top: 5%;
}
