main {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 2%;
}

.portfolio__experience {
  padding-bottom: 10%;
}

.portfolio__projects {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: lightgrey;
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.portfolio__skills {
  padding-top: 5%;
}

.underline {
  border: 3px solid black;
  border-radius: 5px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 3%;
}