.footer__icon {
    font-size: 30px;
    height: 50px;
    width: 50px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars {
    color: $primaryColor;
    font-size: 18px;
}

@media (min-width: 768px) {

    .footer__icon {
        font-size: 35px;
        height: 60px;
        width: 60px;
    }
}