.footer__icon {
    font-size: 30px;
}

.content__up {
    font-size: 40px;
    padding-bottom: 50px;
}

.fa-bars {
    color: $primaryColor;
    font-size: 18px;
}

@media (min-width: 768px) {

    .footer__icon {
        font-size: 35px;
    }
}