.navbar__items {

  a {
    color: #333;
    font-size: 18px;
  }

}

@media (min-width: $screen-sm-min) {
  .navbar__items {
    a {
      color: $primaryColor;
    }
  }

  .navbar-nav {
    margin-left: 15%;
  }
}