.navbar-brand {
  color: $primaryColor;
  font-weight: bold;
  font-size: 25px;
  padding: 1% 0 1% 2%;
  &:hover, &:focus {
    color: $primaryColor;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 25px;
  }
  
}