.navbar-collapse {
  text-align: right;
  padding-right: 5%;
  background-color: white;
}

.link--active {
  a {
    color: $primaryColor;
  }
}

@media (min-width: 768px) {
  .nav-item {
    a {
      font-size: 20px;
    }
  }
}